



<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title><% title%></title>
     <!-- <link rel="stylesheet" href="/public/stylesheets/profile.css">  -->
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

</head>
<body>
    

<div class="container">
      
        <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12">
         <div class="header ">
             <div class="row">
             <div class="col-lg-4 col-md-4 col-md-12"> 
             </div>

             <div class="col-lg-4 col-md-4 col-md-12"> 
                 <b>STUDENT PROFILE</b>
             </div>

             <div class="col-lg-4 col-md-4 col-md-12"> 
             </div>
         </div>
    
        </div>
        </div>
         </div>

         <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12">
         <div class="image">
             <div class="row">
             <div class="col-lg-4 col-md-4 col-md-12"> 
             </div>

             <div class="col-lg-4 col-md-4 col-md-12"> 
             </div>

             <div class="col-lg-4 col-md-4 col-md-12"> 
                 <img src="http://www.studentservices.lasu.edu.ng/returningstudents/images/stud_image/<% matricCode %>.jpg" class="rounded image" alt="img" height="150px" width="150px">
                
                </div>
         </div>
    
        </div>
        </div>
         </div>


          <div class=" col-md-9 col-lg-9 col-sm-9 "> 
                  <table class="table table-user-information">
                    <tbody>
                      <tr>
                        <td>Name:</td>
                        <td><%=name%></td>
                      </tr>
                      <tr>
                        <td>Matric Number:</td>
                        <td><%=matricCode%></td>
                      </tr>
                        <tr>
                        <td>Department:</td>
                        <td><%=department%></td>
                      </tr>
                      <tr>
                          <td>reg num</td>
                          <td><%= "BTA/" + matricCode.slice(0, 2) + deptCode + "/" + deptNum + Backnum %></td>
                      </tr>


                   
                      <tr>
                        <td>Gender</td>
                        <td><%=gender%></td>
                      </tr>
                        

                      <tr>
                        <td>Email</td>
                        <td><a href="mailto:i@support.com"><%= email%></a></td>
                      </tr>
                      <tr>
                        <td>Phone Number</td>
                        <td><%= phoneNO %></td>
                           
                      </tr>
                     
                    </tbody>
                  </table>
                  
                
                  <a href="/students" class="btn btn-primary"><%#=button%></a>
              
                  <a href="/logout">logout</a>
                </div>
              </div>
            </div>

            <%# for(let i= 0; i < result.length; i++){ %>
             <%# console.log(result[1]) %>
            <%# } %>
    


</body>
</html>